:root {
  --primary-color: orange;
  --transition-mode: cubic-bezier(0.68, -0.55, 0.27, 1.55);

  /* max vw 900px with slightly roundup */
  --font-size-primary: max(0.5rem, min(0.25rem + 1.38vw, 1rem));

  /* max vw 1280px */
  --font-size-large: clamp(1rem, 0.3333rem + 3.3333vw, 2.5rem);
  --font-size-large-safari: max(1rem, min(0.3333rem + 3.3333vw, 2.5rem));

  /* max vw 1280px */
  --font-size-medium: max(0.8rem, min(0.5667rem + 1.1667vw, 1.5rem));
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.container {
  max-width: min(650px, 95%);
  font-family: "Space Mono", monospace;
  color: var(--primary-color);
  padding-inline: 0.2em;
}

.card {
  box-shadow: 2px 2px 20px rgba(77, 77, 1, 0.3);
  background-color: rgb(240, 255, 252, 0.9);
  padding-block: 4% 1%;
  border-radius: 10px;
}

.search-bar {
  --size: 35px;
  background: white;
  display: flex;
  border: 2px solid var(--primary-color);
  border-radius: 100vmax;
  margin: 0.5rem;
  padding: 2px;
  transition: all 200ms var(--transition-mode);
}

.search-bar:focus-within {
  border: 3px solid var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

form .search-input {
  flex-grow: 1;
  border: 0;
  background: transparent;
  font-size: min(1rem, 3vw + 0.2rem);
  margin-left: 0.5em;
  outline: 0;
}

form .search-submit {
  background: var(--primary-color);
  padding: 0;
  border: 0;
  border-radius: 100vmax;
  color: white;
  width: var(--size);
  height: var(--size);
  transition: background 300ms var(--transition-mode);
}

form .search-submit:hover {
  filter: hue-rotate(-20deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

#current-location {
  max-width: 25%;
  border: 2px solid var(--primary-color);
  border-radius: 1vmax;
  background: white;
  color: var(--primary-color);
  margin-right: 0.5rem;
  padding: 0.5em 0.5em;
  transition: all 250ms var(--transition-mode);
}

#current-location:hover {
  background: var(--primary-color);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.current-weather {
  display: flex;
  flex-wrap: nowrap;
  word-spacing: -0.3em;
  margin-top: 1rem; /* margin-block not supported in old Safari */
  margin-bottom: 1.5rem;
  font-size: var(--font-size-primary);
}

.current-weather > *:nth-child(1) {
  flex: 1 1 45%;
}

.current-weather > *:nth-child(2) {
  flex: 1 1 32%;
  padding: 0;
  margin: 0;
}

.current-weather > *:nth-child(3) {
  flex: 1 1 23%;
  padding: 0;
  margin: 0;
}

.pulse {
  animation: pulse 3s infinite;
}
@keyframes pulse {
  0% {
    font-variation-settings: "wght" 100;
  }
  50% {
    font-variation-settings: "wght" 700;
  }
  100% {
    font-variation-settings: "wght" 100;
  }
}

.icon-temperature {
  display: flex;
  flex-wrap: nowrap;
}

.icon-temperature > * {
  padding: 0;
}

#current-temp {
  font-size: var(--font-size-large, var(--font-size-large-safari));
  inline-size: min-content;
}

.arrow-icon-up,
.arrow-icon-down {
  font-weight: bold;
  font-size: 1.1em;
}

.arrow-icon-down {
  color: gray;
}

#current-temp-min {
  color: gray;
}

#icon {
  max-width: 25%;
}

#city {
  font-size: var(--font-size-medium);
  line-height: 1em;
}

#description:first-letter {
  text-transform: capitalize;
}

ul .units {
  font-weight: bold;
}

ul .units .inactive {
  cursor: pointer;
  color: gray;
}

ul .units .active {
  cursor: inital;
  color: black;
}

small {
  display: block;
  color: black;
  margin-top: 1rem;
  padding-bottom: 3px;
  padding-left: 10px;
  background-color: rgb(242, 241, 241, 0.8);
  border-radius: 5px;
}

.forecast-column {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 5px 0;
  margin: 0 2px;
  border-radius: 10px;
}

.weather-forecast-day {
  margin-bottom: 5px;
}

#forecast-precipitation {
  color: gray;
  font-size: min(1rem, 3vw + 0.2rem);
}

.precipitation-icon {
  max-width: min(1.3rem, 3vw + 0.3rem);
}

.humidity-icon {
  max-width: min(2rem, 3vw + 0.8rem);
}

.forecast-temp {
  font-size: min(1rem, 1vw + 0.7rem);
}
