.container {
  margin: 80px auto;
  max-width: 600px;
  font-family: "Space Mono", monospace;
  color: orange;
}

.card {
  box-shadow: 2px 2px 20px rgba(77, 77, 1, 0.3);
  background-color: rgb(242, 241, 241, 0.9);
  padding-top: 20px;
  padding-bottom: 5px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.current-weather {
  margin-top: 10px;
  margin-bottom: 20px;
}
#current-location {
  max-width: 140px;
  padding: 0;
}
.material-symbols-outlined {
  max-width: 50px;
}

.pulse {
  animation: pulse 3s infinite;
}
@keyframes pulse {
  0% {
    font-variation-settings: "wght" 100;
  }
  50% {
    font-variation-settings: "wght" 700;
  }
  100% {
    font-variation-settings: "wght" 100;
  }
}

#icon,
#current-temp,
.units-minmaxtemp {
  padding: 0;
}
.minmax-temp {
  padding-top: 3px;
}
#current-temp {
  font-size: 50px;
  line-height: 50px;
}
#icon {
  padding-left: 5px;
  height: 60px;
  position: relative;
  top: -5px;
}

.arrow-icon-up,
.arrow-icon-down {
  font-weight: 50px;
  font-size: 15px;
}
.arrow-icon-down {
  color: gray;
}
#current-temp-min {
  color: gray;
}
.icon-temperature {
  padding: 10px 0 0 0;
  margin: 0;
}

.precip-humidity-wind,
.location-date {
  padding: 0;
  margin: 0;
}
#precipitation,
#humidity,
#wind,
#uvi {
  margin: 0;
  font-size: 14px;
}

#city {
  font-size: 22px;
  line-height: 20px;
}
#current-day,
#description {
  font-size: 15px;
  margin-top: 5px;
}
#city,
#current-day,
#description {
  margin-left: 0;
  margin-right: 0;
}
#description:first-letter {
  text-transform: capitalize;
}
.units .inactive {
  cursor: pointer;
  color: gray;
}
.units .active {
  cursor: auto;
  color: black;
}
small {
  display: block;
  color: black;
  margin-top: 15px;
  padding-bottom: 3px;
  padding-left: 10px;
  background-color: rgb(242, 241, 241, 0.8);
  border-radius: 5px;
}

.forecast-column {
  background-color: white;
  padding: 1px 0;
  margin: 0 2px;
  border-radius: 10px;
}

.precipitation-icon {
  position: relative;
  bottom: 4px;
}
.humidity-icon {
  position: relative;
  bottom: 3px;
}
.weather-forecast-day {
  margin-bottom: 5px;
}
#forecast-precipitation {
  color: gray;
}
