.current-temp {
  font-size: 60px;
}
.units {
  position: relative;
  top: -35px;
}
.col-sm-4 {
  font-size: 18px;
}

.units .inactive {
  cursor: pointer;
  color: gray;
}

.units .active {
  cursor: none;
  color: black;
}
small {
  display: block;
  padding-top: 15px;
}
